<div class="col-md-12 block-preview">
    <div class="row">
        <div class="col-md-12">
            <h2>{% trans %}Views by time period{% endtrans %}</h2>
        </div>
        <div class="col-md-6">
            {% include "PumukitStatsUIBundle:Views:list.html.twig" %}
        </div>
        <div class="col-md-6">
            <div id="chart-all-views">
                <svg style="height:400px"></svg>
            </div>
        </div>
    </div>
</div>