{% if app.request.attributes.get('group_by') == 'day' %}
    {% set day = 'active-button' %}
{% elseif app.request.attributes.get('group_by') == 'month' %}
    {% set month = 'active-button' %}
{% elseif app.request.attributes.get('group_by') == 'year' %}
    {% set year = 'active-button' %}
{% else %}
    {% set month = 'active-button' %}
{% endif %}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <h2>{% trans %}Views by time period{% endtrans %}</h2>
        </div>
        <div class="col-md-6">
            {% include "PumukitStatsUIBundle:Views:list.html.twig" %}
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-right" role="group">
                        <button type="button" class="day btn-all-views-group btn btn-default {{ day|default('') }}" data-group="day">
                            {% trans %}Day{% endtrans %}
                        </button>
                        <button type="button" class="month btn-all-views-group btn btn-default {{ month|default('') }}" data-group="month">
                            {% trans %}Month{% endtrans %}
                        </button>
                        <button type="button" class="year btn-all-views-group btn btn-default {{ year|default('') }}" data-group="year">
                            {% trans %}Year{% endtrans %}
                        </button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="chart-all-views">
                        <svg style="height:400px"></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>