<table class="table table-bordered table-condensed table-views">
    <thead>
        <th id="date" style="width:50%">{% trans %}Date{% endtrans %}</th>
        <th id="views" class='text-center' style="width:50%">{% trans %}Views{% endtrans %}</th>
    </thead>
    <tbody class="views-table-body">
    </tbody>
</table>

<table class="table table-bordered table-condensed table-views">
    <tfoot id="foot-total">
        <tr>
            <td id="foot-total" class="text-left">
                <strong class="text-left">{% trans %}Total{% endtrans %}</strong>
                <span id="foot-views" class="pull-right"></span>
            </td>
        </tr>
    </tfoot>
</table>